/* Selectors */
/* html {
    font-size: 22px;
}

body {
    font-size: 22px;
}

main {
    font-family: monospace;
}

button,
input,
textarea,
select {
    font: inherit;
}

p {
    color: purple;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: grey;
}

#second {
    font-style: italic;
} */

/* Colors */
/* body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(255, 0, 0);
}

p {
    color: #ff00ffd2;
} */

/* Css Units & Sizes */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
}

p {
    font-size: 2rem;
} */

/* CSS BOX MODEL */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    border: 2px dashed red;
    width: 400px;
    font-size: 3rem;
    padding: 0.5em;
} */

/* /Box Modal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px dashed red;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding: 1.5rem;
}