/* Typography 1rem = 16px* default line height 1.2rem/
body {
    padding: 10%;
    font-size: 2rem;
}

/* input,
button {
    font: inherit;
} */
p {
    text-decoration: none;
    /* text-decoration: overline; */
    text-transform: capitalize;
    /* text-transform: uppercase;
    text-transform: lowercase;*/
    text-align: justify;
    /* text-indent: 5em;  // tab */
    line-height: 4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    /* font-weight: 600; */
    font-weight: lighter;
    /* font-style: italic; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: sans-serif;
}