/* Typography 1rem = 16px*/
body {
    padding: 10%;
    font-size: 2rem;
}

/* input,
button {
    font: inherit;
} */
p {
    text-decoration: none;
    /* text-decoration: overline; */
    text-transform: capitalize;
    /* text-transform: uppercase;
    text-transform: lowercase;*/
    text-align: justify;
    /* text-indent: 5em;  // tab */
    line-height: 2rem;
}