/* Typography 1rem = 16px* default line height 1.2rem/
text
font
letter spacing
word spacing 
line height
Font Stacks and Callbacks
external fonts
body {
    padding: 10%;
    font-size: 2rem;
}

/* input,
button {
    font: inherit;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

p {
    text-decoration: none;
    /* text-decoration: overline; */
    text-transform: capitalize;
    /* text-transform: uppercase;
    text-transform: lowercase;*/
    text-align: justify;
    /* text-indent: 5em;  // tab */
    line-height: 4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    /* font-weight: 600; */
    font-weight: lighter;
    /* font-style: italic; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;
}