/* Links: Active,
hover,
visited,
focus  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}


a {
    color: dodgerblue;
}

a:hover,
a:focus {
    color: hsl(189, 100%, 56%);
}

a:visited {
    color: purple;
}

a:active {
    color: pink;
}