/* Links: Active,
hover,
visited,
focus  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: purple;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:active {
    color: pink;
}

a:focus {
    color: green;
}

a:hover {
    color: dodgerblue;
}