@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    padding: 5% 10%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

ol {
    /* list-style-type: none;
    list-style-image: url('../images/checkmark.png');
    list-style-position: inside; */
    /* list-style: square url('../images/checkmark.png') inside; */
    /* list-style: lower-alpha inside; */
    color: blue;
    line-height: 1.6rem;
    padding: 0;
}

ul {
    list-style-type: lower-alpha;
    list-style-position: outside;
}

/* ul li:nth-child(2) {
    color: red;
} */
ol li:nth-child(odd) {
    color: red;
}

ol ::marker {
    content: "only 5$>>>>    ";
}